
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #3e2061;
}

header {
    background-color: #15174f;
    color: white;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.content {
    margin: 20px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 100px;
    flex: 1;
}

footer {
    background-color: #15174f;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: static;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Form Styles */
form {
    margin-bottom: 20px;
}

form input[type="text"], form input[type="date"], form input[type="number"], form input[type="email"], form select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    width: 100%;
    background-color: #0c0a27;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #16144a;
}

/* Links and Buttons */
a {
    color: #af4c91;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #190d5d;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px #999;
}

.btn:hover {background-color: #20133c}

.btn:active {
    background-color: #141a67;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

/* Utility Classes */
.text-center {
    text-align: center;
}

.margin-top {
    margin-top: 20px;
}
